.bigCard {
    flex-wrap: wrap;
}

.formCard {
    box-shadow: 0 0 4px black;
    width: 30%;
    padding: .5rem 1rem;
    flex-wrap: wrap;
    transition: all .25s;
    margin-top: 8rem;
}

.errCard{
    width:100%;
}

.errMess{
    margin-top: 1rem;
    padding: 1.75rem 2.5rem;
    text-shadow: 0px 0px 5px white;
    font-size: 1.15rem;
    transition: all .15s;
}

.errMessActive{
    box-shadow: 0 0 4px black;
    background-color: rgba(255,0,0,.7);
}

@media only screen and (max-width: 1400px) {
    .formCard{
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    .formCard{
        width: 70%;
    }
}

.titleHead {
    margin: 1.75rem 0 auto 0;
    color: rgba(0,0,0,.8);
    text-shadow: 0 2px 2px rgba(255,255,255,.5);
    font-size: 3rem;
}

.labelIn {
    color: rgba(0,0,0,.8);
    text-shadow: 0 2px 2px rgba(255,255,255,.5);
    font-size: 1.2rem;
    width: 100%;
    margin-top: .25rem;
    margin-left: 1.5rem;
}

input {
    height: 2rem;
    width: 70%;
    margin-left: 1.5rem;
    margin-bottom: .75rem;
}

.btns {
    display: flex;
}

.signBtn {
    flex: 1 1 auto;
    font-size: 1.5rem;
    margin: 2.5rem .75rem 1.75rem .75rem;
}

.signInactive {
    font-size: 0;
    padding: 0;
}

.signLabel {
    box-shadow: 0 0 3px black;
    background-color: rgba(0,0,0,.8);
    color: white;
    padding: .5rem 1.25rem;
    transition: all .25s;
}

.signLabel:hover {
    background-color: white;
    color:black;
    cursor: pointer;
}