nav {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    padding-right: 1em;
}

.signInNav {
    display:flex;
    flex-wrap: wrap;
}

.boxLink {
    padding: .5rem 1rem;
    margin: 0 .25rem;
    background-color: rgba(255,255,255,.95);
    font-size: 1.75rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    transition: all .5s;
}

.boxLink:hover {
    background-color: rgba(0,0,0,.8);
    color:white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,.8);
}

.inactiveboxLink {
    padding: .5rem 1rem;
    margin: 0 .25rem;
    background-color: rgba(0,0,0,.95);
    color: white;
    font-size: 1.75rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
}


